.country-container {
  display: flex;
  justify-content: center;
  margin: 18px 0;
  overflow: hidden;
}

.country-select {
  background: white;
  font-size: 20px;
  max-width: 100%;
  padding: 5px;
  width: 170px;
}

.country-select:focus {
  outline: none;
}

.country-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 58px;
}

.card {
  background-color: rgb(23, 162, 184);
  border: none;
  border-radius: 15px;
  color: black;
  height: 238px;
  margin: 5px;
  max-width: 100%;
  text-align: center;
  width: 169px;
}

.country-flag {
  width: 25px;
}

.countryCard-title {
  display: inline-block;
  font-weight: 600;
  max-height: 2.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
