.homeAndReturn-footer-container1 {
  background-color: black;
  bottom: 0;
  display: block;
  padding: 7px;
  position: fixed;
  width: 100%;
}

.homeAndReturn-footer1 {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

.home-icon1 {
  filter: invert(100%);
  height: 45px;
  width: 45px;
}

.return-btn1 {
  background-color: inherit;
  border: none;
  margin-left: 4px;
  outline: none;
}

.return-btn1:focus {
  border: none;
  outline: none;
}

.return-icon1 {
  border: none;
  filter: invert(100%);
  height: 30px;
  outline: none;
  width: 30px;
}

@media screen and ( min-width : 768px ) and ( max-width : 991px ) {

  .home-icon1 {
    height: 3.2rem;
    width: 3.2rem;
  }

  .return-icon1 {
    height: 2.5rem;
    width: 2.5rem;
  }
}

@media screen and ( min-width : 992px ) {

  .home-icon1 {
    height: 3.4rem;
    width: 3.4rem;
  }

  .return-icon1 {
    height: 2.7rem;
    width: 2.7rem;
  }
}
